In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [4]:
df.shape

(150, 6)

In [5]:
for column in list(df.columns)[1:5]:
    print('------------------------------------------------------------')
    print(f'{column} \n')
    print(f'Mean : {df[column].mean()}')
    print(f'Median : {df[column].median()}')
    print(f'Mode : {df[column].mode()}')
    print(f'Standard deviation : {df[column].std()}')
    print(f'Variance : {df[column].var()}')
    print(f'Min : {df[column].min()}')
    print(f'Max: {df[column].max()}')
    print(f'Sum : {df[column].sum()}')
    #print('------------------------------------------------------------')

------------------------------------------------------------
SepalLengthCm

Mean : 5.843333333333334
Median : 5.8
Mode : 0    5.0
Name: SepalLengthCm, dtype: float64
Standard deviation : 0.828066127977863
Variance : 0.6856935123042507
Min : 4.3
Max: 7.9
Sum : 876.5
------------------------------------------------------------
SepalWidthCm

Mean : 3.0540000000000003
Median : 3.0
Mode : 0    3.0
Name: SepalWidthCm, dtype: float64
Standard deviation : 0.4335943113621737
Variance : 0.1880040268456376
Min : 2.0
Max: 4.4
Sum : 458.1
------------------------------------------------------------
PetalLengthCm

Mean : 3.758666666666666
Median : 4.35
Mode : 0    1.5
Name: PetalLengthCm, dtype: float64
Standard deviation : 1.7644204199522626
Variance : 3.113179418344519
Min : 1.0
Max: 6.9
Sum : 563.8
------------------------------------------------------------
PetalWidthCm

Mean : 1.1986666666666668
Median : 1.3
Mode : 0    0.2
Name: PetalWidthCm, dtype: float64
Standard deviation : 0.7631607417008411
Variance : 0.582414317673378
Min : 0.1
Max: 2.5
Sum : 179.8

In [6]:
for column in list(df.columns)[1:5]:
    print('------------------------------------------------------------')
    print(f'{column} \n')
    print(f'Mean : {np.mean(df[column])}')
    print(f'Median : {np.median(df[column])}')
    #print(f'Mode of column {column}: {np.mode(df[column])}')
    print(f'Variance : {np.var(df[column])}')
    print(f'Standard Deviation : {np.std(df[column])}')
    #print('--------------------------------------------------------------')

------------------------------------------------------------
SepalLengthCm

Mean : 5.843333333333334
Median : 5.8
Variance : 0.6811222222222223
Standard Deviation : 0.8253012917851409
------------------------------------------------------------
SepalWidthCm

Mean : 3.0540000000000003
Median : 3.0
Variance : 0.18675066666666668
Standard Deviation : 0.4321465800705435
------------------------------------------------------------
PetalLengthCm

Mean : 3.758666666666666
Median : 4.35
Variance : 3.092424888888889
Standard Deviation : 1.7585291834055212
------------------------------------------------------------
PetalWidthCm

Mean : 1.1986666666666668
Median : 1.3
Variance : 0.5785315555555555
Standard Deviation : 0.7606126185881716

In [7]:
np.mean(df['SepalLengthCm'])

np.float64(5.843333333333334)

In [8]:
np.median(df['SepalLengthCm'])

np.float64(5.8)

In [9]:
df['SepalLengthCm'].mean()

np.float64(5.843333333333334)

In [10]:
df.iloc[:, 1:5].mean()

SepalLengthCm    5.843333
SepalWidthCm     3.054000
PetalLengthCm    3.758667
PetalWidthCm     1.198667
dtype: float64

### Mean, Median, SD accross the dataset

In [11]:
np.mean(df.iloc[:10, 1:-1])

np.float64(2.46)

In [12]:
np.median(df.iloc[:10, 1:5])

np.float64(2.3)

In [13]:
np.std(df.iloc[:, 1:5])

C:\Users\DELL\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\_core\fromnumeric.py:4062: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

SepalLengthCm    0.825301
SepalWidthCm     0.432147
PetalLengthCm    1.758529
PetalWidthCm     0.760613
dtype: float64

In [14]:
np.var(df.iloc[:, 1:5])

C:\Users\DELL\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\_core\fromnumeric.py:4266: FutureWarning: The behavior of DataFrame.var with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

SepalLengthCm    0.681122
SepalWidthCm     0.186751
PetalLengthCm    3.092425
PetalWidthCm     0.578532
dtype: float64

In [15]:
df['SepalLengthCm'].mean()

np.float64(5.843333333333334)

In [16]:
df['SepalLengthCm'].median()

np.float64(5.8)

In [17]:
df['SepalLengthCm'].mode()

0    5.0
Name: SepalLengthCm, dtype: float64

In [18]:
df['SepalLengthCm'].std()

np.float64(0.828066127977863)

In [19]:
df['SepalLengthCm'].var()

np.float64(0.6856935123042507)

In [23]:
from sklearn.preprocessing import OneHotEncoder

# Reshape data to fit the encoder input

categories = [['apple'], ['orange'], ['banana'], ['apple']]

encoder = OneHotEncoder(drop="first")

# Transform categories

encoded_categories = encoder.fit_transform(categories)

print(encoded_categories)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 2 stored elements and shape (4, 2)>
  Coords	Values
  (1, 1)	1.0
  (2, 0)	1.0

In [31]:
def one_hot_encode(dataset, col: str):
    from sklearn.preprocessing import OneHotEncoder
    import pandas as pd
    ohe = OneHotEncoder(drop="first")
    dataset[col+"_ohe"] = ohe.fit_transform(dataset[[col]]).toarray()[:, :-1]

    return dataset

In [32]:
dataset = pd.read_csv("student_performance.csv")
dataset.head()

   StudyTime  PastFailures  Absences  PreviousScores PerformanceLevel
0         10             0         2              85             High
1          5             1         5              65           Medium
2          2             3        10              40              Low
3          8             0         3              78             High
4          6             2         6              60           Medium

In [33]:
dataset = one_hot_encode(dataset, "PerformanceLevel")

In [34]:
dataset.head()

,StudyTime,PastFailures,Absences,PreviousScores,PerformanceLevel,PerformanceLevel_ohe
0,10,0,2,85,High,0.0
1,5,1,5,65,Medium,0.0
2,2,3,10,40,Low,1.0
3,8,0,3,78,High,0.0
4,6,2,6,60,Medium,0.0