In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.shape

(150, 6)

In [4]:
for column in list(df.columns)[1:5]:
    print('------------------------------------------------------------')
    print(f'{column} \n')
    print(f'Mean : {df[column].mean()}')
    print(f'Median : {df[column].median()}')
    print(f'Mode : {df[column].mode()}')
    print(f'Standard deviation : {df[column].std()}')
    print(f'Variance : {df[column].var()}')
    #print('------------------------------------------------------------')

------------------------------------------------------------
SepalLengthCm

Mean : 5.843333333333334
Median : 5.8
Mode : 0    5.0
Name: SepalLengthCm, dtype: float64
Standard deviation : 0.828066127977863
Variance : 0.6856935123042507
------------------------------------------------------------
SepalWidthCm

Mean : 3.0540000000000003
Median : 3.0
Mode : 0    3.0
Name: SepalWidthCm, dtype: float64
Standard deviation : 0.4335943113621737
Variance : 0.1880040268456376
------------------------------------------------------------
PetalLengthCm

Mean : 3.758666666666666
Median : 4.35
Mode : 0    1.5
Name: PetalLengthCm, dtype: float64
Standard deviation : 1.7644204199522626
Variance : 3.113179418344519
------------------------------------------------------------
PetalWidthCm

Mean : 1.1986666666666668
Median : 1.3
Mode : 0    0.2
Name: PetalWidthCm, dtype: float64
Standard deviation : 0.7631607417008411
Variance : 0.582414317673378

In [5]:
for column in list(df.columns)[1:5]:
    print('------------------------------------------------------------')
    print(f'{column} \n')
    print(f'Mean : {np.mean(df[column])}')
    print(f'Median : {np.median(df[column])}')
    #print(f'Mode of column {column}: {np.mode(df[column])}')
    print(f'Variance : {np.var(df[column])}')
    print(f'Standard Deviation : {np.std(df[column])}')
    #print('--------------------------------------------------------------')

------------------------------------------------------------
SepalLengthCm

Mean : 5.843333333333334
Median : 5.8
Variance : 0.6811222222222223
Standard Deviation : 0.8253012917851409
------------------------------------------------------------
SepalWidthCm

Mean : 3.0540000000000003
Median : 3.0
Variance : 0.18675066666666668
Standard Deviation : 0.4321465800705435
------------------------------------------------------------
PetalLengthCm

Mean : 3.758666666666666
Median : 4.35
Variance : 3.092424888888889
Standard Deviation : 1.7585291834055212
------------------------------------------------------------
PetalWidthCm

Mean : 1.1986666666666668
Median : 1.3
Variance : 0.5785315555555555
Standard Deviation : 0.7606126185881716

In [6]:
np.mean(df['SepalLengthCm'])

np.float64(5.843333333333334)

In [7]:
np.median(df['SepalLengthCm'])

np.float64(5.8)

In [8]:
df['SepalLengthCm'].mean()

np.float64(5.843333333333334)

In [9]:
df.iloc[:, 1:5].mean()

SepalLengthCm    5.843333
SepalWidthCm     3.054000
PetalLengthCm    3.758667
PetalWidthCm     1.198667
dtype: float64

### Mean, Median, SD accross the dataset

In [10]:
np.mean(df.iloc[:, 1:5])

np.float64(3.4636666666666662)

In [11]:
np.median(df.iloc[:, 1:5])

np.float64(3.2)

In [12]:
np.std(df.iloc[:, 1:5])

C:\Users\DELL\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\_core\fromnumeric.py:4109: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

SepalLengthCm    0.825301
SepalWidthCm     0.432147
PetalLengthCm    1.758529
PetalWidthCm     0.760613
dtype: float64

In [13]:
np.var(df.iloc[:, 1:5])

C:\Users\DELL\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\_core\fromnumeric.py:4316: FutureWarning: The behavior of DataFrame.var with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

SepalLengthCm    0.681122
SepalWidthCm     0.186751
PetalLengthCm    3.092425
PetalWidthCm     0.578532
dtype: float64